blinker==1.4
cffi==1.14.3
click==7.1.2
cryptography==3.2.1
Flask==1.1.2
Flask-Mail==0.9.1
Flask-MySQLdb==0.2.0
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
mysqlclient==2.0.1
pycparser==2.20
python-dotenv==0.14.0
six==1.15.0
Werkzeug==1.0.1
pyjwt==1.7.1
pip==20.2.3
setuptools==49.6.0
wheel==0.38.1