.message-container{
  margin-left: -50px;
}

.sample {
  height: 780px;
  margin-left: -30px;
}

.message-header {
  padding-top: 10px;
  padding-left: 25px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;;
  border-right: 1px solid black;
}

.message-history {
  height: 550px;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.message-input {
  height: 150px;
}

.send-message-btn {
  fill: red;
}
.send-message-btn:hover {
  fill: #C80000;
}

.message-input-group {
  padding-left: 25px;
  border: 1px solid black;
  align-items: center;
}

.message-text-field {
  height: 60%;
  background-color: #DCDCDC;
  margin-right: 15px;
}

@media screen and (max-width:700px){
  .send-message-btn:hover {
    fill: orange;
  }

  .previewText {
    display: none;
  }
}

/* .messageTab:active, .messageTab:focus, .messageTab:hover {
  background-color: #0069B6;
  color: white;
} */
