.row-resize{
  width: 70%;
  margin: auto;
}

.books{
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 15px;
  margin-right: 15px;
}

.book-selection{
  margin-top: 20px;
  margin-bottom: 20px;
}

.book-selection:hover{
  text-decoration: none;
  background-color: #C4C4C4;
}