.sidebar-container {
  background-color: #0069B6;
  height: 100vh;
  height: 101%;
  width: 100%;
  left: -1000%;
  transition: 1200ms;
  width: 0px;
}

.sidebar-container.active {
  left: 0;
  transition: 450ms;
  width: 150px;
}

.navbar-button-container {
  background-color: #0069B6;
  height: 101%;
}

.sidebar {
  color: white;
  min-height: 100vh;
  height: 101%;
  width: 100%;
}

/* Underline the Current Page */
.sidebar a.active {
  text-decoration: none;
  border-bottom: 3px solid #F93C3C !important;
  font-weight: bold;
}

/* Underline the Hovered Pages */
.sidebar a:hover{
  text-decoration: none;
  border-bottom: 3px solid #F93C3C !important;
}

.toggle-sidebar-btn {
  border: none;
  box-shadow: 0px 1px 4px 1px rgba(0 ,0, 0, .3);
  transition: 140ms;
  height: 40px;
  border-radius: 50%;
  transform: translateX(-2px);
  position: absolute;
}

.toggle-sidebar-btn.active {
  transform: translateX(135px);
  transition: 800ms;
}

.toggle-sidebar-btn, .toggle-sidebar-btn:hover, .toggle-sidebar-btn:focus, .toggle-sidebar-btn:active {
  background-color: #0069B6;
}

@media screen and (max-width:345px){
  .sidebar {
    color: white;
    min-height: 100vh;
    height: 101%;
    width: 100%;
    font-size: 10px;
  }
  .sidebar-container.active {
    width: 90px;
  }
  .toggle-sidebar-btn.active {
    transform: translateX(75px);
  }
}
