.sidebar-container {
  background-color: #0069B6;
  min-height: 100vh;
  height: 101%;
  margin-left: -20px;
  width: 100%;
}

.sidebar {
  color: white;
  min-height: 100vh;
  height: 101%;
  width: 100%;
}

/* Underline the Current Page */
.sidebar a.active {
  text-decoration: none;
  border-bottom: 3px solid #F93C3C !important;
  font-weight: bold;
}

/* Underline the Hovered Pages */
.sidebar a:hover{
  text-decoration: none;
  border-bottom: 3px solid #F93C3C !important;
}

@media screen and (max-width:345px){
  .sidebar {
    color: white;
    min-height: 100vh;
    height: 101%;
    width: 100%;
    font-size: 10px;
  }
}
