.transaction-table {
  max-height: 75vh;
  display: block;
  overflow-y: auto;
}

.sidebar-user-transactions-container {
  display: flex;
  width: 100%;
}

@media screen and (max-width:644px){
  .sidebar-user-transactions-container {
    width: 54%;
  }
}

@media screen and (max-width:360px){
  .sidebar-user-transactions-container {
    width: 50%;
  }
}
