 /* the two margin settigns below are for aligning the borders properly */
.message-container{
  margin-left: -50px;
}

.message-screen {
  margin-left: -30px;
}

.message-header {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #DCDCDC;
}

.message-history {
  height: 80vh;
  border: 1px solid #DCDCDC;
  display: block;
  overflow-y:auto;
}

.message-board {
  background-color: #DCDCDC;
  width: 80%;
  margin-top: 10px;
  border-radius: 10px;
  padding: 10px;
}

.messageTab:active, .messageTab:focus, .messageTab:hover {
  background-color: #0069B6;
  color: white;
}

.sidebar-message-board-container {
  display: flex;
  width: 100%;
}

.message-board-container {
  margin-left: 14px;
}

.manage-btn, .mark-as-completed-btn {
  margin: 10px;
}

@media screen and (max-width: 770px) {
  .user-list-messages-header, .message-header-tag {
    font-size: 20px;
  }
}

@media screen and (max-width:700px){
  .user-list-messages-header {
    font-size: 15px;
    word-wrap: break-word;
    margin: 0;
  }

  .past-users-messaged {
    font-size: 15px;
  }

  .previewText {
    font-size: 13px;
  }

}

@media screen and (max-width: 530px) {
  .message-screen {
    margin: 0;
    padding: 0;
  }

  .previewText {
    display: none;
  }

  .past-users-messaged {
    font-size: 14px;
  }

  .past-users-messaged-container {
     margin: 0;
     padding: 0;
  }

  .manage-btn, .mark-as-completed-btn {
    width: 90%;
    margin-top: 10px;
  }

  .message-board {
    margin-top: 10px;
    width: 100%;
    word-wrap: break-word;
  }

  .send-message-area {
    padding-bottom: 30px;
  }
}
